Repository lhalha01/backend_python: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-frontend.yml, azure-pipelines-terraform.yml

azure-pipelines-frontend.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildFrontend
    displayName: Build Frontend
    jobs:
    - job: Build
      displayName: Build Angular CRUD
      steps:
      - checkout: self
        fetchDepth: 1
      - task: NodeTool@0
        displayName: Use Node.js $(nodeVersion)
        inputs:
  ...

azure-pipelines-terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: TerraformValidate
    displayName: Terraform Validate
    jobs:
    - job: Validate
      displayName: Validate Terraform
      steps:
  ...

Error terraform
  azure-pipelines-terraform.yml
Due: azure-pipelines-terraform.yml

error 2
  azure-pipelines-terraform.yml
Due: azure-pipelines-terraform.yml

error 3
  azure-pipelines-terraform.yml
Due: azure-pipelines-terraform.yml

backend y frontend
  azure-pipelines-terraform.yml
  frontend/angular-products-crud/src/app/app.component.spec.ts
  frontend/angular-products-crud/tsconfig.json
Due: azure-pipelines-frontend.yml, azure-pipelines-terraform.yml

pipelines sincronizacion
  azure-pipelines-sinc.yml
Due: none

error sinc
  azure-pipelines-sinc.yml
Due: none

Updated azure-pipelines-sinc.yml
  azure-pipelines-sinc.yml
Due: none

prueba sinc
  azure-pipelines-sinc.yml
Due: none

excljuir
  .gitignore
Due: none

Updated .gitignore
  .gitignore
Due: none

nuevo pipelines terraform
  azure-pipelines-terraform-v2.yml
Due: none

Path conditions:
  azure-pipelines-frontend.yml: any of: frontend/angular-products-crud, azure-pipelines-frontend.yml
  azure-pipelines-terraform.yml: any of: infra/terraform, azure-pipelines-terraform.yml
